.title {
  font-family: elephant;
  font-size: 300%;
  text-align: center;
}

.intro {
  font-size: 30px;
  background-color: purple;
  text-align: justify;
}

.subtitle {
  font-size: 0.8em;
  text-align: right;
}

#name1 {
  text-shadow: -10px 0px 2px red;
}

#name2 {
  text-shadow: 0px -10px 2px red;
}

#name3 {
  text-shadow: -10px 10px 2px red;
}

#name4 {
  text-shadow: 10px -10px 2px red;
}

#name5 {
  text-shadow: 10px -10px 5px red;
}

.box1 {
  background-color: purple;
  height: 100px;
  width: 200px;
  box-shadow: 5px 5px 10px black;
}

.box2 {
  box-shadow: 0px 0px 2px black;
}

.box3, .box4, .box5, .box6, .box7, .box8 {
  width: 200px;
  height: 100px;
}

.box3 {
  background-color: yellow;
  margin-bottom: 50px;
}

.box4 {
  background-color: green;
  margin-left: 100px;
}

.box5 {
  background-color: lightblue;
  margin: auto;
}

.box6 {
  background-color: grey;
  margin: 100px;
}

.box7 {
  background-color: orange;
  margin: 100px 300px;
}

.box8 {
  background-color: olive;
  margin: 200px 100px 300px 50px;
}

/*---padding--*/.p1 {
  padding-top: 50px;
}

.p2 {
  padding: 20px 100px;
}

.p3 {
  padding: 50px;
}

.p4 {
  padding: 20px 50px 100px 30px;
}

/*--layout--*/
.na {
  background-color: lightgreen;
  font-size: 300%;
  text-align: center;
  padding: 20px 0px;
  text-shadow: 2px 2px 5px orange;
  width: 90%;
  margin: auto;
  box-shadow: 5px 5px 5px black;
  color: darkgreen;
}
/*--images--*/
.img_container{
  width: 90%;
  margin: auto;
  margin-top: 2em;

}
.image1, .image2, .image3, .image4 {
  width: 45%;
  margin: 2%;
}
.row1, .row2{margin-top: 2 em;}
.image1{ border-radius: 20px;}
.image2{border-radius: 50%;}
.image3{
padding: 10px;}
.image4{box-shadow: 0px 0px 10px 5px brown;}
.pContent{
width: 50%; float:right;
padding: 1em 2em;}
/*--contact--*/
.contact{
background-color: gray;
display: inline-block;
width: 100%;}
.contact1, .contact2, .contact3{
width: 30%;
float: left;
margin-left: 3%;
padding: 1em 2em;
}
/*---colors---*/
.g1,.g2,.g3,.g4,.g5,.g6{font-size: 5em;
font-family: "arial black"; }
.g1,.g4{ color: rgb(66, 133, 244);
}
.g2,.g6{
  color: rgb(234, 67, 53);
}

.c1, .c2, .c3, .c4{font-size: 2em;
padding: 1em;}
.c1{background-color: #1b5e20;}
  .c2{background-color: #003300;}
    .c3{background-color: #4c8c4a;}
.c4{background-color: #3bbe3c;}
/*--images and position--*/
.photo_container{
  border: ridge 20px gray;
  width: 80%;
  margin: auto;
  margin-bottom: 2em;
  position: relative;
}
.photo_container img{
  width: 100%;
}
.photo_p1{
  text-align: center;
  font-size: 2em;
  color: lightgreen;
  position: absolute;
  top: 0%;
  left: 10%;
  right: 10%;
background-color: rgba(234, 67, 53, 0.2);
box-shadow: 2px 2px 5px white;
}
.photo_img2{  width: 100%;}
.photo_p2{
  position: absolute;
  background-color: rgba(10, 10, 10, 0.8);
  top: 20%;
  bottom: 20%;
  left: 20%;
  right: 20%;
  color: lightgrey;
  text-align: center;
padding: 1em;
font-size: 1.2em;}
.link_p2{
  display: block;
  background-color: magenta;
  margin-top: 1em;
  padding: 0.2em;
border-radius: 12px;
text-decoration: none;}
.link_p2:hover{
  background-color: lightblue;
  box-shadow: 0px 0px 5px 2px gray;
}
/*---filters--*/
.blur1, .blur2, .blur3,.sepia1,.sepia2,.sepia3,.invert1,.invert2,.invert3{
  width: 30%;
  margin-left: 2%;
}
.blur1{filter: blur(2px);}
.blur2{filter: blur(10px);}
.blur3{filter: blur(15px);}
.sepia1{filter: sepia(10%);}
.sepia2{filter: sepia(60%);}
.sepia3{filter: sepia(90%);}
.invert1{filter: invert(10%);}
.invert2{filter: invert(60%);}
.invert3{filter: invert(100%);}
/*--animation--*/
.animation_container{
  border: ridge 20px gray;
  width: 80%;
  margin: auto;
  margin-bottom: 2em;
  position: relative;
  overflow: hidden;
}
.mountain{width: 100%}
.bus{
  width: 30%;
  position: absolute;
  right: -20%;
  bottom: -10%;
  animation-name: moveBus;
  animation-duration: 2s;
  animation-iteration-count: 2;
  animation-fill-mode: forwards;
  animation-direction: alternate;
  animation-timing-function: ease-out;
}
@keyframes moveBus {
  from{transform: translateX(0%);}
  to{transform: translateX(-400%);}
}
/*--animation with a ball--*/
.ball{
  width: 20%;
  position: absolute;
  bottom: 0%;
  left: -10%;
  animation-name: moveBall;
  animation-duration: 8s;
  animation-delay: 5s;
  animation-fill-mode: forwards;
}
@keyframes moveBall {
  0%{transform: rotate(0deg);
    left:-10%;}
  100%{transition: rotate(360deg);
    left:100%;}
}
/*--cloud animation--*/
.cloud1,.cloud2,.cloud3{
  position: absolute;
}
.cloud1{
  width: 20%;
  top: 0%;
  left: -20%;
animation: moveCloud 15s infinite;

}
.cloud2{
  width: 35%;
  top: 30%;
  left: -40%;
  animation: moveCloud 22s infinite;
}
.cloud3{
  width: 30%;
  right: -10%;
  top: -20%;
  animation: moveCloud 30s infinite;
}
@keyframes moveCloud {
  0%{ opacity 0.8; transform: translate(0,0);}
    20%{opacity 1;}
      40%{opacity: 0.5;transform: translate(200%,50p%);}
        60%{opacity: 0.3;}
          80%{opacity: 0.7; transform: translate(400%,-10%);}
            100%{opacity: 0.9;}
}
/*--animation with text--*/
.animation_p{
  position: absolute;
  top: 20%;
  bottom: 20%;
  text-align: center;
  background-color: transparent;
  left: 10%;
  right: 10%;
  color: white;
  animation: zoomTxt 3s alternate 2;

}
@keyframes zoomTxt {
  0%{transform: scale(0.5);
  color: green;
text-shadow: 5px 5px 5px gray}
    50%{transform: scale(2);
    color: red;
  text-shadow: -5px 5px 2px black;}
      100%{transform: scale(1);
      color: blue;
    text-shadow: 5px 5px 5px black;}
}
